{% extends 'base.html.twig' %}

{% block body %}
    {% include 'dashboard/userNavBar.html.twig'%}

    <main role="main" class="container" style="margin-top: 80px">
        {% block main %}
        {% endblock %}
    </main>

{% endblock %}