{% extends 'dashboard/dashboard.html.twig' %}
{% block main %}

    <h4><b>Informacion del local</b></h4>
    <div class="container">
        <div class="p-4 mb-3 bg-light rounded">
            <h5> <b>Nombre:</b> La Nova Viola </h5>
            <br>
            <h5> <b>WhatsApp:</b> +549111111111 </h5>
            <br>
            <h5> <b>Instagram:</b> @novaViola </h5>
            <br>
            <h5> <b>URL de menuar:</b> /lanovaviola</h5>
            <div>
                <button type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>

    <div class="container">
        <h4><b>Codigo QR</b></h4>
        <div class="p-4 mb-3 bg-light rounded">
            <div class="col-md-4 px-0">
                <img src="https://i.stack.imgur.com/Mspmr.png" alt="..." class="img-fluid">
            </div>
        </div>
    </div>


{% endblock %}
